@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 26 26% 11%;
    --card: 0 0% 100%;
    --card-foreground: 26 26% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 26 26% 11%;
    --primary: 29 63% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 100% 88%;
    --secondary-foreground: 27 26% 36%;
    --muted: 0 8% 94%;
    --muted-foreground: 26 1% 50%;
    --accent: 76 10% 92%;
    --accent-foreground: 78 25% 31%;
    --destructive: 357 76% 43%;
    --destructive-foreground: 0% 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 29 63% 44%;
    --radius: 0.75rem;
    --chart-1: 173 58% 39%;
    --chart-2: 228 58% 39%;
    --chart-3: 281 58% 39%;
    --chart-4: 351 58% 39%;
    --chart-5: 32 58% 39%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-playfair;
  }
}
